
header {
  text-align: center;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  font-family: Blackout Sunrise;
}

body {
  background-image: url("../images.img/FH000002.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: inherit;
}

body.homepage {
  background-image: url("../images.img/FH000002.jpg");
  background-size: cover;
  background-attachment:fixed;
  min-height: inherit;
}

body.splashpage {
  background-image: url("../images.img/Elbras.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: inherit;
  background-position: center;
  background-image: no-repeat;
}

@font-face {
  font-family: BlackoutSunrise;
  src: url('../fonts/BlackoutSunrise.ttf');
}
.BlackoutSunrise {
  font-family: BlackoutSunrise;
}

.style {
  background-image: url(/images.img/FH000002.jpg);
}

.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: grey;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: grey;
}


@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
}

.title {
  font-family: BlackoutSunrise;
  font-size: 80px;

}

.shopbutton {
  font-family: times;
  font-size: 20px;
  text-align: left;
}

.aboutbutton {
  font-family: times;
  font-size: 20px;
  text-align: right;
}


h1 {
  font-family: BlackoutSunrise;
}

h3 {
  color:black;
  font-family: BlackoutSunrise;
}

p {
  color:black;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,0.1);
}

li {
  display: inline;
  padding: 0 10px 0 10px;
}

.btn-facebook {
  background-color: pink;
  font-weight: bold;
  border-color: grey;
}

.btn-instagram {
  background-color: pink;
  font-weight: bold;
  border-color: grey;
}

.lifedrawing {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: inherit;
  float: right;
  margin: 40px;
}

.link {
  color; black;
  text-decoration: none;
  background-color: none;
}

.enter {
  margin-left: 30px;
  float:inherit;
  width: inherit;
}

.scroll-left {
  background-color: white;
  width: 100%;
  clear: both;
  padding: 2%;
  position: fixed;
  bottom: 0px;
}



.next-class {
  border: 0;
  font-family: 'Source Sans Pro', sans serif;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}
